$font: "Helvetica";
$hoverColor: rgb(252, 246, 212);
$transition: 0.3s ease;
$bgGradient: linear-gradient(
  10deg,
  rgba(17, 17, 23, 1) 0%,
  rgba(23, 22, 33, 1) 100%
);
$h3FontSize: clamp(13px, 1vw, 80px);
$selectionBGColor: rgb(255, 176, 196);
$selectionTextColor: #37374f;
$logoPadding: 65px 70px 40px;
$midHeaderPadding: 60.72px 0 40px;
$sideNavOpenBtnPadding: 67.72px 85px;
$generalShadow: 0 0px 10px rgba(0, 0, 0, 0.723);
$sideNavBG: linear-gradient(
  25deg,
  rgba(16, 16, 23, 1) 40%,
  rgba(47, 40, 69, 1) 180%
);
$sideNavBtnMargin: 9.5vh;
$sideNavBtnFontSize: clamp(15px, 1vw, 50px);
$sideNavBtnPadding: 20px 20px;
$sectionBGColor: linear-gradient(
  182deg,
  rgba(230, 92, 142, 1) 0%,
  rgba(255, 207, 125, 1) 88%
);
$sectionH1margin: 30px 0 30px;
$sectionFontSize: clamp(80px, 5vw, 100px);
$wishListFontSize: clamp(30px, 2vw, 70px);
