@use "./variables" as *;

.footer-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  .wishlist-text-wrapper {
    p {
      font-size: $wishListFontSize;
      color: white;
      text-align: center;
      text-shadow: $generalShadow;
    }
  }

  .footer-button-wrapper {
    display: flex;
    width: fit-content;
    gap: 20px;
    align-items: center;
    justify-content: center;
    //background: red;

    button {
      background: #29292e;
      padding: 10px 20px;
      border-radius: 40px;
      width: fit-content;
      height: fit-content;
      transition: background-color 0.3s ease, outline 0.3s ease;
      cursor: pointer;
      border: 3px solid #13131a;
      outline: 3px solid transparent;
      user-select: none;

      &:hover {
        background-color: #4d4d54;
      }

      &:active {
        background-color: #4d4d54;
        outline: 3px solid white;
      }

      &:focus {
        background-color: #4d4d54;
        outline: 3px solid white;
      }

      img {
        width: 120px;
        height: 35px;
      }
    }
  }
}
