@use "./variables" as *;

.header-container {
  // background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 9vh;
  padding-bottom: 3vh;

  .logo-icon-wrapper {
    user-select: none;
    cursor: default;

    img {
      width: 66px;
      height: 46px;
    }
  }

  .logo-wrapper {
    img {
      width: 250px;
      height: 160px;
      user-select: none;
    }
  }

  .navbar-wrapper {
    z-index: 2;
    width: 3.7vw;
    svg {
      cursor: pointer;

      &:hover {
        fill: $hoverColor;
      }
    }

    .navbar-close-svg {
      background-color: rgba(61, 61, 61, 0.385);
      border-radius: 30px;
      transition: background-color $transition;

      &:hover {
        background-color: rgba(97, 96, 96, 0.385);
      }
    }
  }

  .nav-bar-menu {
    position: absolute;
  }

  @media (max-width: 768px) {
    padding-left: 3vh;

    .logo-wrapper {
      img {
        width: 150px;
        height: 100px;
      }
    }
  }
}
