@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: $font;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $selectionBGColor;
  color: $selectionTextColor;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 324px;
  background: $bgGradient;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100vw;
}
