@use "./variables" as *;

.navBar-container {
  display: flex;
  flex-direction: column;
  background: $sideNavBG;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 15px #707092;
  animation: slideIn 0.3s forwards;

  .navbar-options-container {
    // background-color: aqua;
    margin: $sideNavBtnMargin;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    gap: 2%;

    button {
      cursor: pointer;
      font-size: $sideNavBtnFontSize;
      width: fit-content;
      background: transparent;
      border: none;
      padding: $sideNavBtnPadding;
      border-radius: 40px;
      transition: background-color $transition, color $transition;
      font-weight: 600;
      user-select: none;

      &:hover {
        color: $hoverColor;
      }
    }
  }
  .options-wrapper {
    display: flex;
    height: 100%;
    .background-wrapper {
      // background-color: aqua;
      display: flex;

      ul {
        padding: 0 9.5vh;
        list-style: none;
        li {
          font-size: clamp(2rem, 0.1818rem + 3.6364vw, 3rem);
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          transition: color $transition;
          user-select: none;

          &:hover {
            color: $hoverColor;
          }
          &:focus {
            color: $selectionBGColor;
          }
        }
      }
    }

    .trailers-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 4%;
      padding: 6.5vh;

      a {
        text-decoration: none;
        color: inherit;
      }

      .trailer-box {
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #1d1d24;
        gap: 3%;
        cursor: pointer;
        transition: background-color $transition;

        img {
          width: 55%;
        }
        .trailer-text-box {
          margin: 0;
        }

        &:hover {
          background-color: #29292e;
        }
      }
    }
  }
  @media (max-width: 1110px) {
    animation: slideInMobile 0.3s forwards;

    .navbar-options-container {
      margin-left: 1.5vh;
    }
    .options-wrapper {
      .background-wrapper {
        ul {
          padding: 0 3vh;
        }
      }
      .trailers-wrapper {
        .trailer-box {
          flex-direction: column;

          img {
            width: 100%;
          }
          .trailer-text-box {
            margin: 0 5%;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 40%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    width: 40%;
    opacity: 1;
  }

  to {
    width: 0;
    opacity: 0;
  }
}

@keyframes slideInMobile {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 80%;
    opacity: 1;
  }
}

@keyframes slideOutMobile {
  from {
    width: 80%;
    opacity: 1;
  }

  to {
    width: 0;
    opacity: 0;
  }
}
